<div style="background-color:Black;">
<h2>ADMINISTRACION</h2>
</div>
    <ul style="width:150px;">           
        <li>
            <a href='@Url.Action("Index","Cliente")'>Clientes</a>
        </li>
        <li>
            
            <a href='@Url.Action("Index", "Supplier")'>Proveedores</a>
        </li>
        <li>
            <a href='@Url.Action("Index","Product")'>Productos</a>
                
        </li>
        <li>
            <a href='@Url.Action("Index","Car")'>Coches</a>                
        </li>
        <li>
            <a href='@Url.Action("Index","Brand")'>Marcas de Coches</a>
                
        </li>
        <li>
            <a href='@Url.Action("Index","BrandProduct")'>Marcas de Productos</a>
                
        </li>
        <li>
            <a href='@Url.Action("Index","TypeProduct")'>Tipos de Productos</a>
                
        </li>
    </ul>
