@model Motorlam.Entities.DeliveryLine
@using Motorlam.Entities
@{
    var BrandProducts = (IList<BrandProduct>)ViewBag.BrandProducts;
    var TypeProducts = (IList<TypeProduct>)ViewBag.TypeProducts;
}

@Html.Hidden("DeliveryLineId",Model.DeliveryLineId)
@Html.Hidden("ProductId1",Model.ProductId)
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">                           
   <div class="tabsContent">           
            <div class="infoAdminContent"> 
                <h2>Lineas Albaran</h2>    
                <h3 style="font-size:11px;color:Black;">Añadir Linea</h3>     
                <div class="rowForm">
                    <span>
                        <label class="fieldName" style="width: 120px;">Referencia:</label>
                        <input type="text" style="width: 100px;" id="@DeliveryLineFields.ProductReference" name="@DeliveryLineFields.ProductReference" value="@Model.ProductReference" />
                    </span><span id="brand" style="display:none;">
                        <label class="fieldName" style="width: 120px;">Marca:</label>
                         @Html.DropDownList(@BrandProductFields.BrandProductId, new SelectList(BrandProducts, @BrandProductFields.BrandProductId, @BrandProductFields.BrandProductName), "<< seleccione >>", new { style = "width:250px" })
                    </span>
                </div>
                <div class="rowForm">
                   <span><label class="fieldName" style="width: 120px;">Nombre Producto:</label>
                   <input type="text" style="width: 250px;" id="ProductName1" name="ProductName1" value="@Model.ProductName" />
                   </span><span id="typeproduct" style="display:none;">
                        <label class="fieldName" style="width: 120px;">Tipo Producto:</label>
                         @Html.DropDownList("TypeProductId", new SelectList(TypeProducts, @TypeProductFields.TypeProductId, @TypeProductFields.TypeProductName), "<< seleccione >>", new { style = "width:250px" })
                    </span>
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Coste unitario:</label>
                    <input type="text" style="width: 70px;" id="@DeliveryLineFields.ProductCost" name="@DeliveryLineFields.ProductCost" value="@Model.ProductCost" /><b> €</b>
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Cantidad:</label>
                    <input type="text" style="width: 70px;" id="@DeliveryLineFields.DeliveryLineQuantity" name="@DeliveryLineFields.DeliveryLineQuantity" value="@Model.DeliveryLineQuantity" />
                </div> 
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Descuento:</label>
                    <input type="text" style="width: 70px;" id="@DeliveryLineFields.discount" name="@DeliveryLineFields.discount" value="@(Model.discount*100)" /> <b> %</b>
                </div>                           
                <div class="buttonBarCriteria">
                    <div class="leftContent"><a href='#' class="submitButton CancelDeliveryLine" style="text-decoration:none;">Cancelar</a></div>
                    <div class="rightContent">
                        <input type="submit" class="SaveDeliveryLine"value="Añadir Linea" />
                    </div>
                </div>
            </div>
        </div>
</div>


<script type="text/javascript">

    jQuery("#@InvoiceLineFields.ProductCost").change(function () {
        var value = jQuery(this).val();
        var newValue = value.replace(".", ",");
        jQuery(this).val(newValue);
    });

    jQuery(".CancelDeliveryLine").click(function (e) {
        var ReloadUrl = '@Url.Action("Editar", "Delivery")';
        var Id = jQuery("#DeliveryId").val();
        window.location = ReloadUrl + "?DeliveryId=" + Id;
    });

    jQuery(".SaveDeliveryLine").click(function (e) {
        e.preventDefault();
        var NewInvoiceLineUrl = '@Url.Action("SaveDeliveryLine", "Delivery")';
        var ReloadUrl = '@Url.Action("Editar", "Delivery")';
        var Id = jQuery("#DeliveryId").val();
        jQuery.ajax({
            type: "POST",
            url: NewInvoiceLineUrl,
            data: { DeliveryLineId: jQuery("#@DeliveryLineFields.DeliveryLineId").val(), 
                DeliveryID: Id,
                ProductId: jQuery("#ProductId1").val(),
                ProductReference: jQuery("#@DeliveryLineFields.ProductReference").val(),
                ProductName: jQuery("#ProductName1").val(),
                ProductCost: jQuery("#@DeliveryLineFields.ProductCost").val(),
                DeliveryLineQuantity: jQuery("#@DeliveryLineFields.DeliveryLineQuantity").val(),
                discount: jQuery("#@DeliveryLineFields.discount").val(),
                SupplierId: jQuery("#@SupplierFields.SupplierId").val(),
                BrandProductId: jQuery("#@BrandProductFields.BrandProductId").val(),
                TypeProductId: jQuery("#@TypeProductFields.TypeProductId").val()
            },
            success: function (data) {
                window.location = ReloadUrl + "?DeliveryId=" + Id;

            },
            dataType: "json",
            cache: false
        });
    });


    jQuery("#@DeliveryLineFields.ProductReference").change(function () {

        var LoadProductByReference = '@Url.Action("LoadProductByReference", "Delivery")';
        var product = jQuery(this).val();

        jQuery.ajax({
            url: LoadProductByReference,
            type: "POST",
            data: { ProductReference: product },
            cache: false,
            async: false,
            success: function (event) {
                if (event.result == "success") {
                    jQuery("#ProductName1").val(event.Product.ProductName);
                    jQuery("#ProductId1").val(event.Product.ProductId);
                    jQuery("#BrandProductId").val(event.Product.BrandProductId);
                    jQuery("#TypeProductId").val(event.Product.TypeProductId);
                    jQuery("#@DeliveryLineFields.ProductCost").val(event.Product.ProductCost);

                    var newValue = jQuery("#ProductCost").val().replace(".", ",");
                    jQuery("#ProductCost").val(newValue);
                }
                else {
                    jQuery("#ProductName1").val("");
                    jQuery("#ProductId1").val("");
                    jQuery("#BrandProductId").val("");
                    jQuery("#TypeProductId").val("");
                    jQuery("#@DeliveryLineFields.ProductCost").val("");
                }
            }
        });

        jQuery("#brand").css("display", "block");
        jQuery("#typeproduct").css("display", "block");
    });
</script>
