@model Motorlam.Entities.Delivery
@using Motorlam.Entities                  

@{
    Layout = "~/Views/Shared/DeliveryLayout.cshtml";
    var lines = (IList<DeliveryLine>)ViewBag.DeliveryLines;
}

<h2>Albaran nº @if (!string.IsNullOrEmpty(@Model.RefDelivery))
               { @Model.RefDelivery }</h2>


<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all" style="width: 868px">
    <div class="tabsContent">           
        <div class="infoAdminContent"> 
            @Html.Partial("~/Views/Delivery/DatosDelivery.cshtml")
        </div>
    </div>
        @if (Model.DeliveryId > 0)
        {
            <div class="tabsContent">  
                <div class="infoAdminContent"> 
                    <div id="NewDeliveryLine">
                        @Html.Partial("~/Views/Delivery/DatosLineaDelivery.cshtml", new DeliveryLine())
                    </div>
                
                    <div id="ContainerDeliveryLines">
                        @if (lines != null)
                        {
                            @Html.Partial("~/Views/Delivery/OrderList.cshtml", lines)
                        }
                        else
                        {
                            @Html.Partial("~/Views/Delivery/OrderList.cshtml", new List<DeliveryLine>())
                        }
                    </div> 
               </div>
            </div>
        }
</div>
<div id="SaveDeliveryCorrect" style="display:none" class="popup validationDiv">
    <div class="main">
        <a href="#" class="btnClose validationClose">Cerrar </a>
        <label class="succesSave">Albaran Guardado Correctamente</label>
    </div>
    <div class="footer"></div>       
</div>  
   

<script type="text/javascript">
                 
    jQuery(".SaveDelivery").click(function (e) {
        e.preventDefault();
        var reloadUrl = '@Url.Action("Editar", "Delivery")';
        jQuery("#AltaDeliveryForm").ajaxSubmit({
            success: function (event) {
                jQuery("#SaveDeliveryCorrect").show();
                jQuery(".validationClose").click(function (e) {
                    e.preventDefault();
                    jQuery(".validationDiv, .validationDivError").hide("slow");
                    window.location = reloadUrl + "?DeliveryId=" + event.Delivery.DeliveryId;
                });
            }
        });
    });


    
   
    jQuery("#Buscar").click(function (e) {
        e.preventDefault();
       jQuery("#DialogSearchCustomer").dialog({
            autoOpen: true,
            modal: true,
            show: 'fold',
            width: 700,
            position: ['center', 100],
            close: function () {
               jQuery("#DialogSearchCustomer").dialog("destroy");
            }
        });
    });  
        

</script>
