@using Motorlam.Entities
@model IList<Car>

@{           
    string rowClass = string.Empty;
    int cont = 1;   
}


<table class="Grid evaluationTable" border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
           <th colspan="100" class="nRegisters">
                <div class="fullTableSearchDocs">            
	                <div class="rightButton">
                         <a href="#" class="NuevoCoche">Nuevo</a>
                    </div>
                    <span class="textNRegister">
                        @Model.Count registro/s encontrados
                    </span>
                </div>
            </th>
        </tr>
        <tr> 
            <th>Marca</th> 
            <th>Modelo</th>
            <th>Motor</th>
            <th>Matricula</th>
            <th>Bastidor</th>
            <th>Tipo Vehiculo</th>
            <th class="separator TH52"></th>
        </tr>        
    </thead>
    <tbody>
         @foreach (var car in Model)
         {
            rowClass = cont % 2 != 0 ? "odd" : string.Empty;
            
            <tr class="@rowClass">                                
                <td class="center TH90">@car.BrandName</td>
                <td class="center TH120">@car.ModelName</td>
                <td class="center TH180">@car.MotorName</td>
                <td class="center TH100">@car.CarRack</td>
                <td class="center TH180">@car.CarRegistration</td>
                <td class="center">@car.CarType</td>
                <td class="TH67 center">
                    <a href="#" id="btnEdit_@(car.CarId)" class="btnView"></a>
                    <a href="#" class="btnDelete deleteCar" id="delete_@(car.CarId)"></a> 
                </td>
            </tr>
            cont++;
         }    

         @for (int i = Model.Count; i <= 5; i++)
         {
            rowClass = cont % 2 != 0 ? "odd" : string.Empty;
            <tr class="@rowClass">
                <td class="TH120"></td>
                <td class="TH120"></td>
                <td class="TH180"></td>
                <td class="TH100"></td>
                <td class="TH180"></td>                
                <td class=""></td>                
                <td class="TH67 center"></td>
            </tr>
            cont++;
        }
    </tbody>
    <tfoot>
        <td colspan="7"></td>
    </tfoot>
</table>
<div id="DeleteDialog" style="display:none" ><center><br />¿Está seguro que desea eliminar este coche al cliente?</center></div>

<div id="DialogCar" style="display:none;" title="Datos Coche">
    @Html.Partial("DatosCoche", new Car())
</div>  

<div id="SaveCarCorrect" style="display:none" class="popup validationDiv">
    <div class="main">
        <a href="#" class="btnClose validationClose">Cerrar </a>
        <label class="succesSave">Coche Cliente Guardado Correctamente</label>
    </div>
    <div class="footer"></div>       
</div>

<script type="text/javascript">


    var DeleteEntityUrl = '@Url.Action("DeleteCar", "Cliente")';
    var ReloadListUrl = '@Url.Action("LoadCars", "Cliente")';

    jQuery(function () {
        jQuery(".deleteCar").DeleteItem({
            deleteUrl: DeleteEntityUrl,
            listContainer: "ListContainer2",
            reloadUrl: ReloadListUrl,
            params: {
                CustomerId: jQuery("#CustomerId").val()
            }
        });
    });     

   

    jQuery(".NuevoCoche").click(function (e) {
        e.preventDefault();
        var NewCarUrl = '@Url.Action("SalvarCoche","Cliente")';
        var ReloadUrl = '@Url.Action("Editar","Cliente")';
        jQuery("#upload").hide();
        jQuery("#DialogCar").dialog({
            autoOpen: true,
            modal: true,
            show: 'fold',
            width: 600,
            position: ['center', 100],
            buttons: { "Cerrar": function () {
               ClearCarDialogForm();
               jQuery("#DialogCar").dialog("destroy");
            }, "Guardar": function () {
                var Id = jQuery("#CustomerId").val();
                jQuery("#CocheClienteForm").ajaxSubmit({
                    type: "POST",
                    url: NewCarUrl,
                    data: { CustomerID: Id },
                    success: function (event) {
                        if (event.result == "success") {
                            jQuery("#SaveCarCorrect").show();
                            jQuery(".validationClose").click(function (e) {
                                e.preventDefault();
                                jQuery(".validationDiv, .validationDivError").hide("slow");
                                window.location = ReloadUrl + "?CustomerID=" + Id;
                            });    
                        }
                        else {
                            jQuery("#ErrorPassword").show();
                            jQuery("#ErrorPassword .validationClose").remove();
                            if (event.validationErrors) {
                                jQuery("#ErrorPassword ul").fromTemplate('templateErrors', event);
                                ShowValidationErrors("#ChangePasswordForm", event.validationErrors, "errorListTemplate");
                            }
                        }
                        jQuery(".validationClose").click(function (e) {
                            e.preventDefault();
                            jQuery(".validationDiv, .validationDivError").hide("slow");
                        });
                    },
                    dataType: "json",
                    cache: false
                });
            }

            },
            close: function () {
                jQuery("#DialogCar").dialog("destroy");
            }
        });
    });

    jQuery('.btnView').click(function () {
        var id = this.id.split('_')[1];
        var EditCarUrl = '@Url.Action("EditarCoche", "Cliente")';
        jQuery("#DialogCar").html("");
        jQuery("#upload").show();
        jQuery.ajax({
            url: EditCarUrl,
            type: "POST",
            cache: false,
            data: { CarId: id },
            success: function (data) {
                jQuery("#DialogCar").html(data);
                OpenCardialog();
            }
        });
        return false;
    });

    // Funcion que abre el Dialog de Comentarios
    function OpenCardialog() {
        var SaveCarUrl = '@Url.Action("SalvarCoche","Cliente")';
        var ReloadUrl = '@Url.Action("Editar","Cliente")';
        jQuery("#DialogCar").dialog({
            autoOpen: true,
            modal: true,
            show: 'fold',
            width: 750,
            position: ['center', 100],
            buttons: { "Cerrar": function () {
                ClearCarDialogForm();
                jQuery("#DialogCar").dialog("destroy");
            }, "Guardar": function () {
                jQuery("#CocheClienteForm").ajaxSubmit({
                    type: "POST",
                    url: SaveCarUrl,
                    data: { CustomerId: jQuery("#CustomerId").val()
                    },
                    success: function (event) {
                        if (event.result == "success") {
                            jQuery("#SaveCarCorrect").show();
                            jQuery(".validationClose").click(function (e) {
                                e.preventDefault();
                                jQuery(".validationDiv, .validationDivError").hide("slow");
                                window.location = ReloadUrl + "?CustomerID=" + jQuery("#CustomerId").val();
                            }); 
                        }
                        else {
                            jQuery("#General_ErrorBlockComment").show();
                            jQuery("#General_ErrorBlockComment .validationCloseComment").remove();
                            if (event.validationErrors) {
                                jQuery("#General_ErrorBlockComment ul").fromTemplate('templateErrors', event);
                                ShowValidationErrors("#BlockCommentForm", event.validationErrors, "errorListTemplate");
                            }
                        }
                        jQuery(".validationClose").click(function (e) {
                            e.preventDefault();
                            jQuery(".validationDiv, .validationDivError").hide("slow");
                        });
                    },
                    dataType: "json",
                    cache: false
                });
            }
            },
            close: function () {
                ClearCarDialogForm();
                jQuery("#DialogCar").dialog("destroy");
            }
        });
    }


    function ClearCarDialogForm() {
        jQuery("#CarId").val("");
        jQuery("#BrandId").val("");
        jQuery("#ModelId").val("");
        jQuery("#CarRack").val("");
        jQuery("#CarRegistration").val("");
        jQuery("#CarType").val("");
        jQuery("#ModelMotorId").val("");
        jQuery("#MotorId").val("");
    }  
   
</script>


