@using Motorlam.Entities

@model IList<Customer>

@{           
    string rowClass = string.Empty;
    int cont = 1;   
}


<table class="Grid evaluationTable" border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
        <th colspan="100" class="nRegisters">
                <div class="fullTableSearchDocs">            
	                <div class="rightButton">
                       <a href='@(Url.Action("Nuevo", "Cliente", null))' class="submitButton">Nuevo</a>

                    </div>
                    <span class="textNRegister">
                       @Model.Count registro/s encontrados
                    </span>
                </div>
            </th>
           
        </tr>
        <tr> 
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>DNI / NIF</th>
            <th>Movil</th>
            <th class="separator TH52"></th>
        </tr>        
    </thead>
    <tbody>
         @foreach (var customer in Model)
         {
            rowClass = cont % 2 != 0 ? "odd" : string.Empty;
            
            <tr class="@rowClass">                                
                <td class="left TH120">@customer.CustomerName</td>
                <td class="left TH240">@customer.CustomerSurName</td>
                <td class="center TH100">@customer.CustomerNIF</td>
                <td class="center TH100">@customer.CustomerPhone2</td>
                <td class="TH67 center">
                    <a href='#' id="custom_@(customer.CustomerId)" class="btnEdit selectCustomer"></a>                    
                </td>
            </tr>
            cont++;
         }    

         @for (int i = Model.Count; i <= 8; i++)
         {
            rowClass = cont % 2 != 0 ? "odd" : string.Empty;
            <tr class="@rowClass">
                <td class="TH120"></td>
                <td class="TH240"></td>
                <td class="TH100"></td>
                <td class="TH100"></td>
                <td class="TH67 center"></td>
            </tr>
            cont++;
        }
    </tbody>
    <tfoot>
        <td colspan="5"></td>
    </tfoot>
</table>

<script type="text/javascript">

    jQuery(".selectCustomer").click(function () {
        var dataURL = '@Url.Action("LoadCustomer","Invoice")';
        var customerID = this.id.split('_')[1];
        jQuery.ajax({
            type: "POST",
            url: dataURL,
            data: { CustomerID: customerID },
            cache: false,
            success: function (event) {
                if (event.result == "success") {
                    jQuery("#CustomerId").val(event.Customer.CustomerId);
                    jQuery("#CustomerName").val(event.Customer.CustomerName);
                    jQuery("#CustomerSurName").val(event.Customer.CustomerSurName);

                    jQuery("#DialogSearchCustomer").dialog("destroy");
                }
            }
        });

    });
   
</script>


