@using Motorlam.Entities
<h2 class="titleTabs" style="margin:10px 0 10px 0;">Buscador</h2>      
 <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">                           
     <div class="tabsContent">           
       <div class="infoAdminContent">                   
            <div class="rowForm">
                <label class="fieldName" style="width: 100px;">Nº Presupuesto:</label>
                <input name="@InvoiceFields.InvoiceId " id="@InvoiceFields.InvoiceId" type="text" style="width: 120px;" />              
            </div>
            <div class="rowForm">
                <label class="fieldName" style="width: 100px;">Cliente:</label>
                <input name="@InvoiceFields.CustomerName" id="@InvoiceFields.CustomerName" type="text" style="width: 250px;" />           
            </div>
            <div class="rowForm">
                <label class="fieldName" style="width: 100px;">NIF / CIF:</label>
                <input name="@InvoiceFields.InvoiceCustomerNIF" id="@InvoiceFields.InvoiceCustomerNIF" type="text" style="width: 120px;" />           
            </div>
        </div>
    </div>
</div>