@using Motorlam.Entities

@model IList<Invoice>

@{           
    string rowClass = string.Empty;
    int cont = 1;   
}


<table class="Grid evaluationTable" border="0" cellpadding="0" cellspacing="0">
    <thead>
        <tr>
        <th colspan="100" class="nRegisters">
                <div class="fullTableSearchDocs">            
	                <div class="rightButton">
                       <a href='@(Url.Action("Nuevo", "Invoice", null))' class="submitButton">Nuevo Presupuesto</a>
                    </div>
                    <span class="textNRegister">
                        Presupuestos
                    </span>
                </div>
            </th>
        </tr>
        <tr> 
            <th>ID. Presupuesto</th> 
            <th>Cliente</th>
            <th>NIF</th>
            <th>Fecha</th>                         
            <th>Total sin IVA</th>
            <th>Total con IVA</th>
            <th class="TH52"></th>
        </tr>        
    </thead>
    <tbody>
         @foreach (var invoice in Model)
         {
            rowClass = cont % 2 != 0 ? "odd" : string.Empty;
            
            <tr class="@rowClass">                                
                <td class="center TH90">@invoice.InvoiceId</td>
                <td class="left TH300">@invoice.CustomerName @invoice.CustomerSurName</td>
                <td class="center TH110">@invoice.InvoiceCustomerNIF</td>
                <td class="center TH110">@invoice.InvoiceDate.Value.ToShortDateString()</td>
                <td class="right TH100">@invoice.InvoiceNetTotal €</td>
                <td class="right TH100">@invoice.InvoiceTotal €</td> 
                <td class="TH67 center">
                    <a href='@(Url.Action("Editar", "Invoice", new { InvoiceId = invoice.InvoiceId }))' class="btnView"></a>
                    <a href="#" class="btnDelete" id="delete_@(invoice.InvoiceId)"></a>
                </td>
            </tr>
            cont++;
         }    

         @for (int i = Model.Count; i <= 10; i++)
         {
            rowClass = cont % 2 != 0 ? "odd" : string.Empty;
            <tr class="@rowClass">
                <td class="TH90"></td>
                <td class="TH280"></td>
                <td class="TH110"></td>
                <td class="TH110"></td>
                <td class="TH100"></td>
                <td class="TH100"></td>
                <td class="TH67 center"></td>
            </tr>
            cont++;
        }
    </tbody>
    <tfoot>
        <td colspan="9"></td>
    </tfoot>
</table>

<script type="text/javascript">

    jQuery(".btnDelete").click(function () {
        var DeleteURL = '@Url.Action("DeleteInvoice","Invoice")';
        var invoiceId = this.id.split('_')[1];
        if (confirm("¿Estas seguro de eliminar esta Factura?")) {

            jQuery.ajax({
                url: DeleteURL,
                type: "POST",
                data: {
                    Id: invoiceId,
                    InvoiceId: jQuery("#@InvoiceFields.InvoiceId").val(),
                    CustomerName: jQuery("#@InvoiceFields.CustomerName").val(),
                    InvoiceDate: jQuery("#@InvoiceFields.InvoiceDate").val(),
                    NIF: jQuery("#@InvoiceFields.InvoiceCustomerNIF").val()
                },
                cache: false,
                success: function (data) {
                    alert("Factura Eliminada");
                    jQuery("#ListContainer1").html(data);
                }
            });
        }
    });   
</script>


