@model Motorlam.Entities.Invoice
@using Motorlam.Entities                  


@{
    Layout = "~/Views/Shared/InvoiceLayout.cshtml";
    var Provinces = (IList<Province>)ViewBag.Provinces;
    var Cities = (IList<City>)ViewBag.Cities;
    var lines = (IList<InvoiceLine>)ViewBag.InvoiceLines;
}
<h2>Factura nº @Model.InvoiceId</h2>

@using (Html.BeginForm("SaveInvoice", "Invoice", FormMethod.Post, new { id = "AltaFacturaForm" }))
{

    @Html.Hidden("InvoiceId", Model.InvoiceId)
    @Html.Hidden("CustomerId", Model.CustomerId)
    @Html.Hidden("InvoiceNetTotal", Model.InvoiceNetTotal)
    @Html.Hidden("InvoiceTotal", Model.InvoiceTotal)

     
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">                           
        <div class="tabsContent">           
            <div class="infoAdminContent">
                <h2>Datos Factura</h2>
                <div class="rowForm">
                    <span>
                       <label class="fieldName" style="width: 120px;">Fecha:</label>
                       <input type="text" style="width: 100px;" class="datepicker" id="@InvoiceFields.InvoiceDate" name="@InvoiceFields.InvoiceDate" 
                                                        value="@if (Model.InvoiceDate.HasValue){@Model.InvoiceDate.Value.ToShortDateString()}" />
                     </span><span style="text-align:right;">
                     <a href="../../WebForms/ReportViewerBuiltinForm.aspx?reportPath=/Facturas/Factura Simple&InvoiceId=@Model.InvoiceId" target="_blank" title="Ver">Imprimir Factura</a>
                     </span>
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Cliente:</label>
                    <input type="text" style="width: 100px;" id="@InvoiceFields.CustomerName" name="@InvoiceFields.CustomerName" readonly="readonly" value="@Model.CustomerName" /> 
                    <input type="text" style="width: 200px;" id="@InvoiceFields.CustomerSurName" name="@InvoiceFields.CustomerSurName" readonly="readonly" value="@Model.CustomerSurName" />
                    <a href="#" id="Buscar">Elegir</a>
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Facturar a:</label>
                    <span class="radio" style="float:none;"><label>Cliente</label>@Html.RadioButton(@InvoiceFields.InvoiceBy, "1", Model.InvoiceBy)</span>
                    <span class="radio" style="float:none;"><label>A otra</label>@Html.RadioButton(@InvoiceFields.InvoiceBy, "2", Model.InvoiceBy)</span>                     
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">NIF:</label>
                    <input type="text" style="width: 100px;" id="@InvoiceFields.InvoiceCustomerNIF" name="@InvoiceFields.InvoiceCustomerNIF" value="@Model.InvoiceCustomerNIF" />
                </div>

                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Nombre y Apellidos:</label>
                    <input type="text" style="width: 250px;" id="@InvoiceFields.InvoiceCustomerName" name="@InvoiceFields.InvoiceCustomerName" value="@Model.InvoiceCustomerName" />
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Dirección:</label>
                    <input type="text" style="width: 250px;" id="@InvoiceFields.InvoiceCustomerAddress" name="@InvoiceFields.InvoiceCustomerAddress" value="@Model.InvoiceCustomerAddress" />
                </div>
                <div class="rowForm">    
                    <span>
                    <label class="fieldName" style="width: 120px;">Provincia:</label>
                        @Html.DropDownList(@InvoiceFields.ProvinceId, new SelectList(Provinces, @InvoiceFields.ProvinceId, @InvoiceFields.ProvinceName), "<< seleccione >>", new { style = "width:208px" })
                    </span><span>
                    <label style="width: 100px;">Localidad:</label>
                        @Html.DropDownList(@InvoiceFields.CityId, new SelectList(Cities, @InvoiceFields.CityId, @InvoiceFields.CityName), "<< seleccione >>", new { style = "width:208px" })    
                    </span>
                </div> 
                <div class="rowForm">   
                    <span>
                    <label class="fieldName" style="width: 120px;">Codigo Postal:</label>
                    <input type="text" style="width: 100px;" id="@InvoiceFields.InvoiceCustomerCodPostal" name="@InvoiceFields.InvoiceCustomerCodPostal" value="@Model.InvoiceCustomerCodPostal" /> 
                    </span><span>
                    <label class="fieldName" style="width: 120px;">Telefono:</label>
                    <input type="text" style="width: 100px;" id="@InvoiceFields.InvoiceCustomerPhone" name="@InvoiceFields.InvoiceCustomerPhone" value="@Model.InvoiceCustomerPhone" />
                 </span>
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Pagada:</label>
                     @Html.CheckBox(@InvoiceFields.IsInvoicePaid, @Model.IsInvoicePaid == true ? true : false)
                     
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Fecha Pago:</label>
                    <input type="text" style="width: 100px;" class="datepicker" id="@InvoiceFields.InvoicePaidDate" name="@InvoiceFields.InvoicePaidDate"
                                                                 value="@if (Model.InvoicePaidDate.HasValue){@Model.InvoicePaidDate.Value.ToShortDateString()}" />
                </div>
                <div class="rowForm">
                    <label class="fieldName" style="width: 120px;">Forma de Pago:</label>
                    <span class="radio" style="float:none;"><label>Efectivo</label>@Html.RadioButton(@InvoiceFields.InvoiceTypePaid, "Efectivo", Model.InvoiceTypePaid)</span>
                    <span class="radio" style="float:none;"><label>Tarjeta</label>@Html.RadioButton(@InvoiceFields.InvoiceTypePaid, "Tarjeta", Model.InvoiceTypePaid)</span>   
                </div>                   
                <div class="buttonBarCriteria">
                    <div class="leftContent">
                        <a href='@(Url.Action("Index", "Invoice", null))' class="submitButton">Volver</a>
                    </div>    
                    <div class="rightContent">
                        <input type="submit" class="SaveInvoice"value="Guardar" />
                    </div>
                </div>
                
                         
          </div>
      </div>
     </div>
<div id="NewInvoiceLine">
    @Html.Partial("~/Views/Invoice/DatosLineaFactura.cshtml", new InvoiceLine())    
</div>

<div id="ContainerInvoiceLines">
    @if (lines != null)
    {
        @Html.Partial("~/Views/Invoice/OrderList.cshtml", lines)
    }
    else
    {
        @Html.Partial("~/Views/Invoice/OrderList.cshtml", new List<InvoiceLine>())
    }
</div>
  

    
}    
<div id="DialogSearchCustomer" style="display:none;" title="Seleccionar Cliente">
    @Html.Partial("~/Views/Invoice/SearchCustomer.cshtml")
</div>  

   

<script type="text/javascript">
    var LoadCityUrl = '@Url.Action("LoadCityByProvince", "Cliente")';
    var reloadUrl = '@Url.Action("LoadInvoice", "Invoice")';

        
    jQuery(".SaveInvoice").click(function (e) {
        e.preventDefault();
        jQuery("#AltaFacturaForm").ajaxSubmit({
            success: function (event) {
                alert("Factura Generada");
                //window.location = reloadUrl + "?InvoiceId=" + event.Invoice.InvoiceId;
            }
        });

    });

    jQuery("#ProvinceId").ReloadCascadeDropDown({
        fatherFieldName: "ProvinceId",
        childFieldName: "CityId",
        loadChildUrl: LoadCityUrl
    });

    

    jQuery("#Buscar").click(function (e) {
        e.preventDefault();
       jQuery("#DialogSearchCustomer").dialog({
            autoOpen: true,
            modal: true,
            show: 'fold',
            width: 700,
            position: ['center', 100],
            close: function () {
               jQuery("#DialogSearchCustomer").dialog("destroy");
            }
        });
    });

 
    jQuery("input[id='@InvoiceFields.InvoiceBy']").click(function () {
        isCheckedFacturarA(this);
    });

    function isCheckedFacturarA(obj) {
        var value = jQuery(obj).val();
        var cityId = 0;
        if (value == 1) {
            var dataURL = '@Url.Action("LoadCustomer", "Invoice")';
            var customerID = jQuery("#CustomerId").val();
            jQuery.ajax({
                type: "POST",
                url: dataURL,
                data: { CustomerID: customerID },
                cache: false,
                async: false,
                success: function (event) {
                    if (event.result == "success") {
                        jQuery("#@InvoiceFields.InvoiceCustomerName").val(event.Customer.CustomerSurName + ", " + event.Customer.CustomerName);
                        jQuery("#@InvoiceFields.InvoiceCustomerNIF").val(event.Customer.CustomerNIF);
                        jQuery("#@InvoiceFields.InvoiceCustomerAddress").val(event.Customer.CustomerAddress);
                        jQuery("#@InvoiceFields.ProvinceId").val(event.Customer.ProvinceId);
                        document.getElementById("CityId").options.length = 0;
                        document.getElementById("CityId").add(new Option("<< seleccione >>", ""))

                        if (event.Cities.length > 0) {
                            for (var item in event.Cities) {
                                if (event.Cities[item].CityId == event.Customer.CityId) {
                                    jQuery("#CityId").append("<option value='" + event.Cities[item].CityId + " ' selected='selected'>" + event.Cities[item].CityName + "</option>");
                                } else {
                                    jQuery("#CityId").append("<option value='" + event.Cities[item].CityId + "'>" + event.Cities[item].CityName + "</option>");
                                }
                            }
                        }
                        jQuery("#@InvoiceFields.CityId").val(event.Customer.CityId);
                        jQuery("#@InvoiceFields.InvoiceCustomerCodPostal").val(event.Customer.CustomerCodPostal);
                        jQuery("#@InvoiceFields.InvoiceCustomerPhone").val(event.Customer.CustomerPhone1);
                    }
                }
            });
        } else {
            jQuery("#@InvoiceFields.InvoiceCustomerName").val("");
            jQuery("#@InvoiceFields.InvoiceCustomerNIF").val("");
            jQuery("#@InvoiceFields.InvoiceCustomerAddress").val("");
            jQuery("#@InvoiceFields.ProvinceId").val("");
            jQuery("#@InvoiceFields.CityId").val("");
            jQuery("#@InvoiceFields.InvoiceCustomerCodPostal").val("");
            jQuery("#@InvoiceFields.InvoiceCustomerPhone").val("");

        }

        

    }
</script>
