@model Motorlam.Entities.TypeProduct
@using Motorlam.Entities                  


@{
    Layout = "~/Views/Shared/AdministrationLayout.cshtml";
}
<h2>Nuevo / Editar Tipo de Producto</h2>

@using (Html.BeginForm("SalvarTypeProduct", "TypeProduct", FormMethod.Post, new { id = "AltaTypeProductdForm" }))
{

    @Html.Hidden("TypeProductId", Model.TypeProductId)
     
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">                           
        <div class="tabsContent">           
            <div class="infoAdminContent">
                <div class="rowForm">
                    <label class="fieldName" style="width: 100px;">Tipo:</label>
                    <input type="text" style="width: 200px;" id="@TypeProductFields.TypeProductName" name="@TypeProductFields.TypeProductName" value="@Model.TypeProductName" />
                </div>
                <div class="buttonBarCriteria">
                    <div class="leftContent">
                        <a href='@(Url.Action("Index", "TypeProduct", null))' class="submitButton" style="text-decoration:none;">Volver</a>
                    </div>    
                    <div class="rightContent">
                        <input type="submit" id="SalvarTypeProduct" value="Guardar" />
                    </div>
                </div>
          </div>
      </div>
</div>
<div id="SaveTypeProductCorrect" style="display:none" class="popup validationDiv">
    <div class="main">
        <a href="#" class="btnClose validationClose">Cerrar </a>
        <label class="succesSave">Tipo Producto Guardada Correctamente</label>
    </div>
    <div class="footer"></div>       
</div>
   
}
<script type="text/javascript">

    jQuery("#SalvarTypeProduct").click(function (e) {
            e.preventDefault();
            jQuery("#AltaTypeProductdForm").ajaxSubmit({
                type: "POST",
                success: function () {
                    jQuery("#SaveTypeProductCorrect").show();
                    jQuery(".validationClose").click(function (e) {
                        e.preventDefault();
                        jQuery(".validationDiv, .validationDivError").hide("slow");
                    });
                }
            });

        });
 
</script>